{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    Contact us
{% endblock %}

{% block body_block %}
<br />
<h1 class="title">Back to the Future</h1> 
<h6 class="info"><i>1985, Science Fiction, 1h 56m</i></h6>
<! –– the photo of the film is inserted on the right side of the page ––>
<div class="photo"><img src="{% static 'images/back.jpg' %}"
    alt="Photo of Back to the Future"/></div>

<div>
    <h5 class="description"> Description of the film:</h5><br />
    <p class="desc-text">In this 1980s sci-fi classic, small-town California teen Marty McFly (Michael J. Fox) is thrown back into the '50s when an experiment by his eccentric scientist friend Doc Brown (Christopher Lloyd) goes awry. Traveling through time in a modified DeLorean car, Marty encounters young versions of his parents (Crispin Glover, Lea Thompson), and must make sure that they fall in love or he'll cease to exist. Even more dauntingly, Marty has to return to his own time and save the life of Doc Brown.</p>
      <ul class="list"> 
          <li>Director:	Robert Zemeckis </li>
        <li>Producer:	Bob Gale, Neil Canton</li>
       <li> Writer:	Robert Zemeckis, Bob Gale</li>
        </ul> 
</div>
 
    <! –– the embeded trailer of the film is inserted on the right side of the page ––> 
      <div>
        <iframe class="trailer" src="https://www.youtube.com/embed/qvsgGtivCgs" frameborder="0" allowfullscreen></iframe>
      </iframe>
        </div>

        <!-- creating a write a review form -->
        <div class = "paddingbtm60">
        <h3 class="review-title">Write a review</h3>
         <a class="nav-link" href="{% url 'rango:add_review' %}">add a review</a>
    </div>
   
{% endblock %}