{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    Contact us
{% endblock %}

{% block body_block %}
<br />
<h1 class="title">Back to the Future</h1> 
<h6 class="info"><i>1985, Science Fiction, 1h 56m</i></h6>
<div class="photo"><img src="{% static 'images/back.jpg' %}"
    alt="Photo of Back to the Future"/></div>

<div>
    <h5 class="description"> Description of the film:</h5><br />
    <p class="desc-text">In this 1980s sci-fi classic, small-town California teen Marty McFly (Michael J. Fox) is thrown back into the '50s when an experiment by his eccentric scientist friend Doc Brown (Christopher Lloyd) goes awry. Traveling through time in a modified DeLorean car, Marty encounters young versions of his parents (Crispin Glover, Lea Thompson), and must make sure that they fall in love or he'll cease to exist. Even more dauntingly, Marty has to return to his own time and save the life of Doc Brown.</p>
</div>
      <div class="rating"; style=margin-left:80px;margin-top:-15px;>
        <h6 >Rate the film out of 5 stars:</h6>
        <a href="#5" title="Give 5 stars">★</a>
          <a href="#4" title="Give 4 stars">★</a>
          <a href="#3" title="Give 3 stars">★</a>
          <a href="#2" title="Give 2 stars">★</a>
          <a href="#1" title="Give 1 star">★</a>
      </div>

      <div>
        <iframe class="trailer" src="https://www.youtube.com/embed/qvsgGtivCgs" frameborder="0" allowfullscreen></iframe>
      </iframe>
        </div>

        <div class = "paddingbtm60">
        <h3 class="review-title">Write a review</h3>
        <form action="/downloads/test-title/?review_submitted=1" method="post" name="edd-reviews-form" id="edd-reviews-form" class="comment-form edd-reviews-form">
            <fieldset>
                <div class="edd-reviews-form-inner">
                    <p class="edd-reviews-review-form-review-title">
                        <label for="edd-reviews-review-title" class="review-text">Review Title <span class="required">*</span></label>
                        <input type="text" id="edd-reviews-review-title" class="edd-reviews-review-title" name="edd-reviews-review-title" value="" size="30" aria-required="true" required="required" />
                    </p><!-- /.edd-reviews-review-form-review-title -->
                    <p class="edd-reviews-review-form-rating">
                        <span class="edd-reviews-star-rating-container">
                            <span class="edd-reviews-stars-filled">
                                <span class="dashicons dashicons-star-filled edd-reviews-star-rating edd-reviews-star-rating-1" data-rating="1"></span>
                                <span class="dashicons dashicons-star-filled edd-reviews-star-rating edd-reviews-star-rating-2" data-rating="2"></span>
                                <span class="dashicons dashicons-star-filled edd-reviews-star-rating edd-reviews-star-rating-3" data-rating="3"></span>
                                <span class="dashicons dashicons-star-filled edd-reviews-star-rating edd-reviews-star-rating-4" data-rating="4"></span>
                                <span class="dashicons dashicons-star-filled edd-reviews-star-rating edd-reviews-star-rating-5" data-rating="5"></span>
                            </span>
                            <span class="edd-reviews-stars-empty">
                                <span class="dashicons dashicons-star-empty edd-reviews-star-rating edd-reviews-star-rating-1" data-rating="1"></span>
                                <span class="dashicons dashicons-star-empty edd-reviews-star-rating edd-reviews-star-rating-2" data-rating="2"></span>
                                <span class="dashicons dashicons-star-empty edd-reviews-star-rating edd-reviews-star-rating-3" data-rating="3"></span>
                                <span class="dashicons dashicons-star-empty edd-reviews-star-rating edd-reviews-star-rating-4" data-rating="4"></span>
                                <span class="dashicons dashicons-star-empty edd-reviews-star-rating edd-reviews-star-rating-5" data-rating="5"></span>
                            </span>
                            <input type="hidden" name="edd-reviews-review-rating" id="edd-reviews-star-rating" value="" />
                        </span>							
                    </p><!-- /.edd-reviews-review-form-rating -->
                    <p class="edd-reviews-review-form-review">
                        <label for="edd-reviews-review" lass="review-text" class="review-text">Review <span class="required">*</span></label><br />
                        <textarea class="review-text" id="edd-reviews-review" name="edd-reviews-review" cols="45" rows="8" aria-required="true" required="required"></textarea>
                    </p><!-- /.edd-reviews-review-form-review -->
                    <p class="edd-reviews-review-form-submit">
                        <input type="submit" class="review-text" id="edd-reviews-review-form-submit" name="edd-reviews-review-form-submit" value="Post Review"/>
                    </p><!-- /.edd-reviews-review-form-submit -->
                    <input type="hidden" name="edd-reviews-review-post-ID" value="2724" />
                    <input type="hidden" name="edd_action" value="reviews_process_review" />
                </div><!-- /.edd-reviews-form-inner -->
            </fieldset>
        </form><!-- /#edd-reviews-form -->
    </div><!-- /.edd-reviews-form -->
   
{% endblock %}