<!DOCTYPE html>
{% load static  %}
{% load rango_template_tags %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            Rango -
            {% block title_block %}
                How to Tango with Django!
            {% endblock %}
            </title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            
    </head>
    <body>
        
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'rango:index' %}">Homepage</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Category
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Comdey</a>
                          <a class="dropdown-item" href="#">Science Fiction</a>
                          <a class="dropdown-item" href="#">Animation</a>
                          <a class="dropdown-item" href="#">Drama</a>
                        </div>
                      </li>
                </ul>
            </div>
            <div class="navbar-nav mx-auto order-0">
                <li class="nav-item active">
                    <span class="navbar-text">
                        Moʃvies
                      </span>
                </li> 
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    
                    <li><a class="nav-link" href="{% url 'rango:logout' %}">Logout</a></li>
                    
                {% else %}
                    <li><a class="nav-link" href="{% url 'rango:register' %}">SIGN UP</a></li>

                    <li><a class="nav-link" href="{% url 'rango:login' %}">LOGIN</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>
       


       
        {% block body_block %}
        {% endblock %}
    





    <div class="fixed-bottom">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mx-auto">
              <li > <a class="nav-link" href="{% url 'rango:about' %}">ABOUT US</a></li>
              <li > <a class="nav-link" href="{% url 'rango:contact_us' %}">CONTACT US</a></li>
              <li > <a class="nav-link" href="{% url 'rango:statistics' %}">STATISTICS</a></li>
            </ul>
    </nav>
</div>

    </body>
</html>