{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    Contact us
{% endblock %}

{% block body_block %}
<br />
<h1 class="title">Black Panther</h1> 
<h6 class="info"><i>2018, Drama, 2h 14m</i></h6>
<! –– the photo of the film is inserted on the right side of the page ––>
<div class="photo"><img src="{% static 'images/black.jpg' %}"
    alt="Photo of Black Panther"/></div>

<div>
    <h5 class="description"> Description of the film:</h5><br />
    <p class="desc-text">After the death of his father, T'Challa returns home to the African nation of Wakanda to take his rightful place as king. When a powerful enemy suddenly reappears, T'Challa's mettle as king -- and as Black Panther -- gets tested when he's drawn into a conflict that puts the fate of Wakanda and the entire world at risk. Faced with treachery and danger, the young king must rally his allies and release the full power of Black Panther to defeat his foes and secure the safety of his people.</p>
    <ul class="list"> 
        <li>Director:	Rob Cohen</li>
      <li> Producer:	Neal H. Moritz</li>
     <li> Writer: Gary Scott Thompson, Erik Bergquist, David Ayer, Gary Scott Thompson </li>
      </ul> 
</div>
<! –– the embeded trailer of the film is inserted on the right side of the page ––> 
      <div>
        <iframe class="trailer" src="https://www.youtube.com/embed/xjDjIWPwcPU" frameborder="0" allowfullscreen></iframe>
      </iframe>
        </div>

      <!-- creating a write a review form -->
      <div class = "paddingbtm60">
        <h3 class="review-title">Write a review</h3>
        <form>
            <fieldset>
                <div>
                    <p>
                        <label class="review-text">Review Title <span>*</span></label>
                        <input type="text" value="" size="30" aria-required="true" required="required" />
                    </p>
                    <p>
                            <input type="hidden" value="" />						
                    </p>
                    <p>
                        <label class="review-text">Review <span>*</span></label><br />
                        <textarea class="review-text" cols="45" rows="8" aria-required="true" required="required"></textarea>
                    </p>
                    <p>
                        <input type="submit" class="review-text" value="Post Review"/>
                    </p>
                    <input type="hidden"  value="2724" />
                    <input type="hidden"  value="reviews_process_review" />
                </div>
            </fieldset>
        </form>
    </div>
   
{% endblock %}