{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    Contact us
{% endblock %}

{% block body_block %}
<br />
<h1 class="title">Coco</h1> 
<h6 class="info">2017, Animation, 1h 49m</i></h6>
<div class="photo"><img src="{% static 'images/coco.jpg' %}"
    alt="Photo of Coco"/></div>

<div>
    <h5 class="description"> Description of the film:</h5><br />
    <p class="desc-text">Despite his family's generations-old ban on music, young Miguel dreams of becoming an accomplished musician like his idol Ernesto de la Cruz. Desperate to prove his talent, Miguel finds himself in the stunning and colorful Land of the Dead. After meeting a charming trickster named Héctor, the two new friends embark on an extraordinary journey to unlock the real story behind Miguel's family history.</p>
    <ul class="list"> 
        <li>Director:	Lee Unkrich</li>
      <li> Producer:	Darla K. Anderson</li>
     <li> Writer:	Adrian Molina, Matthew Aldrich</li>
      </ul>
</div>
 
<! –– the embeded trailer of the film is inserted on the right side of the page ––> 
      <div>
        <iframe class="trailer" src="https://www.youtube.com/embed/Ga6RYejo6Hk" frameborder="0" allowfullscreen></iframe>
      </iframe>
        </div>
        
      <!-- creating a write a review form -->
      <div class = "paddingbtm60">
        <h3 class="review-title">Write a review</h3>
        <form>
            <fieldset>
                <div>
                    <p>
                        <label class="review-text">Review Title <span>*</span></label>
                        <input type="text" value="" size="30" aria-required="true" required="required" />
                    </p>
                    <p>
                            <input type="hidden" value="" />						
                    </p>
                    <p>
                        <label class="review-text">Review <span>*</span></label><br />
                        <textarea class="review-text" cols="45" rows="8" aria-required="true" required="required"></textarea>
                    </p>
                    <p>
                        <input type="submit" class="review-text" value="Post Review"/>
                    </p>
                    <input type="hidden"  value="2724" />
                    <input type="hidden"  value="reviews_process_review" />
                </div>
            </fieldset>
        </form>
    </div>
   
{% endblock %}