{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    Contact us
{% endblock %}

{% block body_block %}
<h1>CONTACT US</h1>
<div>
    Fill in the form bellow if you would like to contact our team regarding the topics bellow:<br />
    <ul>
      <li>Request to add a new film for reviewing</li>
      <li>Report inapropriate reviews</li>
      <li>Contact regarding other issues</li>
    </ul>
</div>
<div>
  <form id="ContactUsForm" method="post" action="{% url 'rango:contact_us' %}">

      {% csrf_token %}
            {% for field in form %}
          {{ field.errors }}
          {{ field.help_text }}
          {{ field }}
      {% endfor %}
      <input type="submit" name="submit"  />
  </form>
</div>
{% endblock %}