{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    Contact us
{% endblock %}

{% block body_block %}
<br />
<h1>&emsp; &emsp;CONTACT US</h1><br />
<div>
  &emsp; &emsp; Fill in the form bellow if you would like to contact our team regarding the topics bellow:<br />
    <ul>
      <li>Request to add a new film for reviewing;</li>
      <li>Report inapropriate reviews;</li>
      <li>Contact regarding other issues.</li>
    </ul>
</div>
<div>
  <form id="ContactUsForm" method="post" action="{% url 'rango:contact_us' %}" >

      {% csrf_token %}
      &emsp;  {% for field in form %}
      &emsp;   {{ field.errors }}<br />
      &emsp;    {{ field.help_text }}<br />
      &emsp;   {{ field }}
      {% endfor %}
    
      <br />
      &emsp; <input type="submit" name="submit" style="background-color: grey; border: none" />
  
    </form>
</div>

{% endblock %}
