{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}


{% if user.is_staff %}
<h1>List of contact us</h1>

{% for i in  contactuslist%}
<div class="card  m-5">
    <div class="card-header">
      {{i.name}}
    </div>
    <div class="card-body">
      
      <p class="card-text">{{i.subject}}</p>
      
    </div>
  </div>  
{% endfor %}

{% else %}
<script>
    window.location.href = "{% url 'rango:index' %}";
    </script>
{% endif %}

{% endblock %}