{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    Contact us
{% endblock %}

{% block body_block %}
<h1>CONTACT US</h1>
<div>
    Fill in the form bellow if you would like to contact our team regarding the topics bellow:<br />
    <ul>
      <li>Request to add a new film for reviewing</li>
      <li>Report inapropriate reviews</li>
      <li>Contact regarding other issues</li>
    </ul>
</div>
<div class="container">
    <form action="action_page.php">
  
      <label for="fname">Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name.."><br />

  
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
  
    </form>
  </div>
{% endblock %}