{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    Contact us
{% endblock %}

{% block body_block %}
<br />
<h1 class="title">Deadpool</h1> 
<h6 class="info">2016, Comedy, 1h 48m</i></h6>
<! –– the photo of the film is inserted on the right side of the page ––>
<div class="photo2"><img src="{% static 'images/deadpool.jpg' %}"
    alt="Photo of Deadpool"/></div>

<div>
    <h5 class="description"> Description of the film:</h5><br />
    <p class="desc-text">Wade Wilson (Ryan Reynolds) is a former Special Forces operative who now works as a mercenary. His world comes crashing down when evil scientist Ajax (Ed Skrein) tortures, disfigures and transforms him into Deadpool. The rogue experiment leaves Deadpool with accelerated healing powers and a twisted sense of humor. With help from mutant allies Colossus and Negasonic Teenage Warhead (Brianna Hildebrand), Deadpool uses his new skills to hunt down the man who nearly destroyed his life.</p>
    <ul class="list"> 
        <li> Director:	Tim Miller</li>
      <li> Producer:	Simon Kinberg, Ryan Reynolds, Lauren Shuler Donner</li>
     <li> Writer:	Rhett Reese, Paul Wernick </li>
      </ul>
</div>
    
<! –– the embeded trailer of the film is inserted on the right side of the page ––> 
      <div>
        <iframe class="trailer" src="https://www.youtube.com/embed/ONHBaC-pfsk" frameborder="0" allowfullscreen></iframe>
      </iframe>
        </div>

      <!-- creating a write a review form -->
      <div class = "paddingbtm60">
        <h3 class="review-title">Write a review</h3>
        <form>
            <fieldset>
                <div>
                    <p>
                        <label class="review-text">Review Title <span>*</span></label>
                        <input type="text" value="" size="30" aria-required="true" required="required" />
                    </p>
                    <p>
                            <input type="hidden" value="" />						
                    </p>
                    <p>
                        <label class="review-text">Review <span>*</span></label><br />
                        <textarea class="review-text" cols="45" rows="8" aria-required="true" required="required"></textarea>
                    </p>
                    <p>
                        <input type="submit" class="review-text" value="Post Review"/>
                    </p>
                    <input type="hidden"  value="2724" />
                    <input type="hidden"  value="reviews_process_review" />
                </div>
            </fieldset>
        </form>
    </div>
   
{% endblock %}