{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    Contact us
{% endblock %}

{% block body_block %}
<br />
<h1 class="title">Hangover</h1> 
<h6 class="info">2009, Comedy, 1h 39m</i></h6>
<! –– the photo of the film is inserted on the right side of the page ––>
<div class="photo"><img src="{% static 'images/hangover.jpg' %}"
    alt="Photo of Hangover"/></div>

<div>
    <h5 class="description"> Description of the film:</h5><br />
    <p class="desc-text">Two days before his wedding, Doug (Justin Bartha) and three friends (Bradley Cooper, Ed Helms, Zach Galifianakis) drive to Las Vegas for a wild and memorable stag party. In fact, when the three groomsmen wake up the next morning, they can't remember a thing; nor can they find Doug. With little time to spare, the three hazy pals try to re-trace their steps and find Doug so they can get him back to Los Angeles in time to walk down the aisle.</p>
    <ul class="list"> 
        <li>  Director:	Todd Phillips</li>
      <li> Producer:	Todd Phillips, Dan Goldbergr</li>
     <li> Writer:	Jon Lucas, Scott Moore </li>
      </ul>
</div>
     
<! –– the embeded trailer of the film is inserted on the right side of the page ––> 
      <div>
        <iframe class="trailer" src="https://www.youtube.com/embed/tcdUhdOlz9M" frameborder="0" allowfullscreen></iframe>
      </iframe>
        </div>

       <!-- creating a write a review form -->
       <div class = "paddingbtm60">
        <h3 class="review-title">Write a review</h3>
        <form>
            <fieldset>
                <div>
                    <p>
                        <label class="review-text">Review Title <span>*</span></label>
                        <input type="text" value="" size="30" aria-required="true" required="required" />
                    </p>
                    <p>
                            <input type="hidden" value="" />						
                    </p>
                    <p>
                        <label class="review-text">Review <span>*</span></label><br />
                        <textarea class="review-text" cols="45" rows="8" aria-required="true" required="required"></textarea>
                    </p>
                    <p>
                        <input type="submit" class="review-text" value="Post Review"/>
                    </p>
                    <input type="hidden"  value="2724" />
                    <input type="hidden"  value="reviews_process_review" />
                </div>
            </fieldset>
        </form>
    </div>
   
{% endblock %}