{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    Contact us
{% endblock %}

{% block body_block %}
<br />
<h1 class="title">Home Alone</h1> 
<h6 class="info">1990, Comedy, 1h 42m</i></h6>
<! –– the photo of the film is inserted on the right side of the page ––>
<div class="photo"><img src="{% static 'images/home.jpg' %}"
    alt="Photo of Home Alone"/></div>

<div>
    <h5 class="description"> Description of the film:</h5><br />
    <p class="desc-text">When bratty 8-year-old Kevin McCallister (Macaulay Culkin) acts out the night before a family trip to Paris, his mother (Catherine O'Hara) makes him sleep in the attic. After the McCallisters mistakenly leave for the airport without Kevin, he awakens to an empty house and assumes his wish to have no family has come true. But his excitement sours when he realizes that two con men (Joe Pesci, Daniel Stern) plan to rob the McCallister residence, and that he alone must protect the family home.</p>
    <ul class="list"> 
        <li>Director:	Todd Phillips</li>
      <li> Producer:	Todd Phillips, Dan Goldberg</li>
     <li> Writer:	Jon Lucas, Scott Moore </li>
      </ul>
</div>

<! –– the embeded trailer of the film is inserted on the right side of the page ––> 
      <div>
        <iframe class="trailer" src="https://www.youtube.com/embed/jEDaVHmw7r4" frameborder="0" allowfullscreen></iframe>
      </iframe>
        </div>

           <!-- creating a write a review form -->
           <div class = "paddingbtm60">
            <h3 class="review-title">Write a review</h3>
            <a class="nav-link" href="{% url 'rango:add_review' %}">add a review</a>
        </div>
       
    {% endblock %}