{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<center><h1>Welcome to Moʃvies,</h1>
<div> 
{% if user.is_authenticated %}
  <h4>{{ user.username }}!</h4> 
{% else %}
<h4>Film Enthusiast!</h4>
{% endif %}
<br />
 
</div></center>

<div>
    <h2>Best rated: </h2>
    {% if categories %}
    <ul>
    {% for category in categories %}
        <li><a href={% url 'rango:show_category' category.slug %}>{{ category.name}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <strong>There are no categories present.</strong>
{% endif %}
</div>
    
<div> 
    <h2>Most reviewed:</h2>
{% if pages %}
    <ul>
    {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <strong>There are no pages present.</strong>
{% endif %}
</div>


{% endblock %}