{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    Contact us
{% endblock %}

{% block body_block %}
<br />
<h1 class="title">Minions</h1> 
<h6 class="info">2015, Animation, 1h 31m</i></h6>
<! –– the photo of the film is inserted on the right side of the page ––>
<div class="photo"><img src="{% static 'images/minions.jpg' %}"
    alt="Photo of Minions"/></div>

<div>
    <h5 class="description"> Description of the film:</h5><br />
    <p class="desc-text">>Evolving from single-celled yellow organisms at the dawn of time, Minions live to serve, but find themselves working for a continual series of unsuccessful masters, from T. Rex to Napoleon. Without a master to grovel for, the Minions fall into a deep depression. But one minion, Kevin, has a plan; accompanied by his pals Stuart and Bob, Kevin sets forth to find a new evil boss for his brethren to follow. Their search leads them to Scarlet Overkill, the world's first-ever super-villainess.</p>
    <ul class="list"> 
        <li>Director:	Pierre Coffin, Kyle Balda</li>
      <li> Producer:	Christopher Meledandri, Janet Healy</li>
     <li> Writer:	Brian Lynch </li>
      </ul>
</div>

<! –– the embeded trailer of the film is inserted on the right side of the page ––> 
      <div>
        <iframe class="trailer" src="https://www.youtube.com/embed/eisKxhjBnZ0" frameborder="0" allowfullscreen></iframe>
      </iframe>
        </div>

       <!-- creating a write a review form -->
       <div class = "paddingbtm60">
        <h3 class="review-title">Write a review</h3>
        <a class="nav-link" href="{% url 'rango:add_review' %}">add a review</a>
    </div>
   
{% endblock %}