{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
<div class="container">
<h1> Edit your info</h1>



{% if registered %}
Moʃvies says: <strong>thank you for editing your info for your safety you have been logged out!</strong>
<a href="{% url 'rango:index' %}">Return to the homepage.</a><br />

{% else %}
{% if user.is_authenticated%}


<form  id="user_form" method="post" action="{% url 'rango:profile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <input type="submit" name="submit" value="Update"  class="btn btn-lg btn-primary btn-block "/>

</form>
<a href="{% url 'rango:deleteuser' %}" class = "btn btn-lg btn-block  btn-outline-danger btn-sn mt-3 " >Delete</a>
{% if user.is_authenticated %}
        

  
    {% endif %}
    {% endif %}

</div>
{% endif %}
{% endblock %}