{% extends 'rango/base.html' %}
{% load static  %}
{% load socialaccount %}
{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<div class="container">
<h1> Register</h1>

{% if user.is_authenticated %}
        <script>
        window.location.href = "{% url 'rango:index' %}";
        </script>
  <p>Welcome, You are logged in as {{ user.username }}</p>
    {% else %}
    
  
    {% endif %}

{% if registered %}
Moʃvies says: <strong>thank you for registering!</strong>
<a href="{% url 'rango:index' %}">Return to the homepage.</a><br />
{% else %}

 <!-- code for allowing the user to use google login for registration -->
<a href="{% provider_login_url 'google' %}">Login With Google</a>
<form  id="user_form" method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <input type="submit" name="submit" value="Register" class = "btn btn-lg btn-primary btn-block" />
</form>
</div>
{% endif %}
{% endblock %}