{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    Statistics
{% endblock %}

{% block body_block %}
<h1 class="heading">STATISTICS OF THE PAGE:</h1>
<div class="statistics">
    Number of users : {{user_count}};<br />
    Number of films: {{film_count}};<br />
    Distribution of films over categories:<br />
</div>





<div id="container" style="width: 50%;">
  <canvas id="pie-chart"></canvas>
</div>
<div class="paddingbtm60">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script><script>
  var config = {
    type: 'pie',
    data: {
      datasets: [{
        data: {{list2}},
        backgroundColor: [
          '#ff0000', '#0000ff',  '#ffff26', '#800080', '#008000', 
        ],
        label: 'Population'
      }],
      labels: ['Action','Comedy','Animation', 'Drama', 'Science Fiction']
    },
    options: {
      responsive: true
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('pie-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
  };
</script>
</div>



{% endblock %}