{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    Contact us
{% endblock %}

{% block body_block %}
<br />
<h1 class="title">The Fast and the Furious</h1> 
<h6 class="info">2001, Action, 1h 47m</i></h6>
<! –– the photo of the film is inserted on the right side of the page ––>
<div class="photo"><img src="{% static 'images/fast.jpg' %}"
    alt="Photo of Fast and Furious"/></div>

<div>
    <h5 class="description"> Description of the film:</h5><br />
    <p class="desc-text">Dominic Toretto (Vin Diesel) enjoys the adrenaline of street car racing and his fans treat him like a rock star. After a blazing encounter with the ruthless Johnny Tran, Dom decides to take Brian (Paul Walker), a newcomer to street racing, under his wing. Dom's sister Mia sees something she likes in Brian, too. Trouble is, neither of them realize he's an undercover cop, and Dominic and his rival Johnny Tran are both the prime suspects in a case involving dirty money and big-rig hijacking.</p>
    <ul class="list"> 
        <li> Director:	Rob Cohen</li>
      <li> Producer:	Neal H. Moritz</li>
     <li> Writer: Gary Scott Thompson, Erik Bergquist, David Ayer, Gary Scott Thompson </li>
      </ul>
     
</div>
<! –– the embeded trailer of the film is inserted on the right side of the page ––>     
      <div>
        <iframe class="trailer" src="https://www.youtube.com/embed/2TAOizOnNPo" frameborder="0" allowfullscreen></iframe>
      </iframe>
        </div>

      <!-- creating a write a review form -->
      <div class = "paddingbtm60">
        <h3 class="review-title">Write a review</h3>
        <a class="nav-link" href="{% url 'rango:add_review' %}">add a review</a>
    </div>
   
{% endblock %}