{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    Contact us
{% endblock %}

{% block body_block %}
<br />
<h1 class="title">Titanic</h1> 
<h6 class="info">1997, Drama, 3h 15m</i></h6>
<div class="photo"><img src="{% static 'images/titanic.jpg' %}"
    alt="Photo of Titanic"/></div>

<div>
    <h5 class="description"> Description of the film:</h5><br />
    <! –– the photo of the film is inserted on the right side of the page ––>
    <p class="desc-text">James Cameron's "Titanic" is an epic, action-packed romance set against the ill-fated maiden voyage of the R.M.S. Titanic; the pride and joy of the White Star Line and, at the time, the largest moving object ever built. She was the most luxurious liner of her era -- the "ship of dreams" -- which ultimately carried over 1,500 people to their death in the ice cold waters of the North Atlantic in the early hours of April 15, 1912.</p>
    <ul class="list"> 
        <li> Director:	James Cameron</li>
      <li> Producer:	James Cameron, Jon Landau</li>
     <li> Writer:	James Cameron</li>
      </ul>
</div>
<! –– the embeded trailer of the film is inserted on the right side of the page ––>    
      <div>
        <iframe class="trailer" src="https://www.youtube.com/embed/CHekzSiZjrY" frameborder="0" allowfullscreen></iframe>
      </iframe>
        </div>

              <!-- creating a write a review form -->
              <div class = "paddingbtm60">
                <h3 class="review-title">Write a review</h3>
                <form>
                    <fieldset>
                        <div>
                            <p>
                                <label class="review-text">Review Title <span>*</span></label>
                                <input type="text" value="" size="30" aria-required="true" required="required" />
                            </p>
                            <p>
                                    <input type="hidden" value="" />						
                            </p>
                            <p>
                                <label class="review-text">Review <span>*</span></label><br />
                                <textarea class="review-text" cols="45" rows="8" aria-required="true" required="required"></textarea>
                            </p>
                            <p>
                                <input type="submit" class="review-text" value="Post Review"/>
                            </p>
                            <input type="hidden"  value="2724" />
                            <input type="hidden"  value="reviews_process_review" />
                        </div>
                    </fieldset>
                </form>
            </div>
           
        {% endblock %}