{% extends 'rango/base.html' %}
{% load static  %}

{% block title_block %}
    Contact us
{% endblock %}

{% block body_block %}
<br />
<h1 class="title">Transformers</h1> 
<h6 class="info">2007, Science Fiction, 2h 24m</i></h6>
<div class="photo"><img src="{% static 'images/transformers.jpg' %}"
    alt="Photo of Transformers"/></div>

<div>
    <h5 class="description"> Description of the film:</h5><br />
    <! –– the photo of the film is inserted on the right side of the page ––>
    <p class="desc-text">The fate of humanity is at stake when two races of robots, the good Autobots and the villainous Decepticons, bring their war to Earth. The robots have the ability to change into different mechanical objects as they seek the key to ultimate power. Only a human youth, Sam Witwicky (Shia LaBeouf) can save the world from total destruction.</p>
    <ul class="list"> 
        <li> Director:	Michael Bay</li>
      <li> Producer:	Don Murphy, Tom DeSanto, Lorenzo di Bonaventura, Ian Bryce</li>
     <li> Writer:	Roberto Orci, Robert Kurtzman</li>
      </ul>
</div>
  
<! –– the embeded trailer of the film is inserted on the right side of the page ––>     
<div>
        <iframe class="trailer" src="https://www.youtube.com/embed/2OxkkY1RjmQ" frameborder="0" allowfullscreen></iframe>
      </iframe>
        </div>

      <!-- creating a write a review form -->
      <div class = "paddingbtm60">
        <h3 class="review-title">Write a review</h3>
        <a class="nav-link" href="{% url 'rango:add_review' %}">add a review</a>
    </div>
   
{% endblock %}